
.main {
    background-color: var(--clr-white-muted);
    border-radius: var(--border-r-10);
    padding: 0rem;
    display: grid;
    place-content: center;
    width: 100%;
}

.main-container {
    background-color: var(--clr-teal-primary);
    border-radius: var(--border-r-30);
    color:white;
    display: grid;
    place-content: center;
    padding: 2rem;
    width: 200px;
}




