
.main {
    background-color: var(--clr-white-muted);
    border-radius: var(--border-r-10);
    display: grid;
    place-content: center;
}

.main-container {
    background-color: var(--clr-teal-primary);
    border-radius: var(--border-r-30);
    color:white;
    display: grid;
    place-content: center;
}


 .welcome-message > p {
    font-size: 1.1rem;
    padding-bottom: .5rem;
}

 .weather-icon {
    width: 180px;
    height: auto;
 }

 .error-message > h2 {
    color: rgb(244, 130, 130);
 }
